div.error, div.mensaje{
  color: rgba(255, 251, 8, 0.747);
	border: 2px solid rgba(255, 251, 8, 0.747);
	padding: 10px;
	margin: 10px;
}

ul {
    list-style-type: none;
    margin: 15px 0;
    padding: 0;
    overflow: hidden;
    background-color: #6D3333;
  }
  
  li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #8A3F3F;
  }


.formulario{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:80%;
  margin:auto;
}
form > div{
  width:35%;
  margin: 0 10px;
}

.activo{
  background-color:#2f726a;
}

.strongpass {
	background-color: green
}

.middlepass {
	background-color: yellow
}

.weakpass {
	background-color: red
}

.nanpass {
	background-color: lightyellow
}

@media (max-width: 500px){
  form > div{
    width:200px;
  }
}